<div class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <table class="table text-center">
      <thead>
        <tr>
          <th>
            <h1>اهلا</h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <td>
            <p><h3> خليهم يرسلونلك رسالة بدون ما تعرفهم </h3></p>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card" style="margin: 0 30%;">
      <div class="card-body">
        <h5 class="card-title"> ما يحتاج تسوي حساب! دخل رمز تتذكره لاحقا </h5>
        <form action="/send" method="post">
          <p class="card-text">
            <input
              class="form-control"
              placeholder="الرمز ......"
              name="code"
            />
          </p>
          <button type="submit" class="btn btn-primary"> ادخال</button>
        </form>
      </div>

    </div>

    <div class="card bg-dark text-white" style="margin: 3% 30%;">
      <div class="card-body">
        <h5 class="card-title">
          لقد ادخلت رمز مسبقا , ادخل الرمز واذهب لرؤية رسائلك
        </h5>
        <form action="/search" method="post">
          <p class="card-text">
            <input
              class="form-control"
              placeholder="الرمز ......"
              name="search"
            />
          </p>
          <button type="submit" class="btn btn-success"> ابحث عن الرمز</button>
        </form>
      </div>

    </div>

  </div>
</div>