<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">M.A</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#"><h1>صراحة بجنيه</h1></a>
          <a class="nav-link" href="#">ما يحتاج تسوي حساب!</a>
        </nav>
      </div>
    </header>
    <br><br><br><br><br><br>
    <main class="px-3">
      <p> دخل اي كلمة مميزة وخليهم يرسلونلك رسالة بدون ما تعرفهم </p>
      <h1> ما يحتاج تسوي حساب! دخل كلمة تتذكرها بس </h1>
      <form action="/fslniwrnp29hviwrnirwvuwrbukr" method="post">
        <input class="form-control" placeholder="الكلمة ......" name="code">
        <br>
        <button type="submit" class="btn btn-light">اضغط هنا</button>
      </form>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>
  </div>



</body>