<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/boot.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse bg-dark" role="navigation">
      <div class="navbar-header">
        <a
          class="navbar-brand btn btn-primary"
          href="/"
          style="margin-left: 30%;"
        >
          صراحة بجنيه
        </a>
      </div>
    </nav>
    {{{body}}}
    <footer class="text-center">
      <a class="btn btn-dark">made by : MAzhari</a>
    </footer>
  </body>
</html>