<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0"> M.A </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#"><h1>صراحة بجنيه</h1></a>
          <a class="nav-link" href="#">ما يحتاج تسوي حساب!</a>
        </nav>
      </div>
    </header>
    <br><br><br><br><br><br>
    <main class="px-3">
      <h1> انسخ هذا الرابط </h1>
    <div>
        <input class="form-control" style="text-align: center;" type="url" value="https://saraha-sdg.herokuapp.com/up/{{link}}">
        <a href="/up/{{link}}" class="btn btn-light"><h3>أو اضغط هنا وسوي مشاركة للرابط </h3></a>
        </div>
 <br> <div>
        <a href="/qw12er34tymwwurh82h82f8o2hf28fhieqh/{{link}}" class="btn btn-success">روح شوف الرسايل!</a>
   </div>
    </main>

    <footer class="mt-auto text-white-50">
    </footer>
  </div>



</body>