<div class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <table class="table text-center">
      <thead>
        <tr>
          <th>
            <h1>عفوا</h1>
          </th>
        </tr>
      </thead>
      {{#if condition}}
        <tbody>
          <tr class="table-danger">
            <td>
              <p><h3> هذا الرمز غير مسجل مسبقا </h3></p>
              <a type="link" href="/"><h3>عودة</h3></a>
            </td>
          </tr>
        </tbody>
      {{else}}
        <tbody>
          <tr class="table-danger">
            <td>
              <p><h3> هذا الرمز مسجل مسبقا </h3></p>
              <a type="link" href="/"><h3>عودة</h3></a>
            </td>
          </tr>
        </tbody>
      {{/if}}

    </table>

  </div>
</div>